Source: fluidity-dev
Section: contrib/devel
Priority: extra
Maintainer: Tim Greaves <tim.greaves@imperial.ac.uk>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.0.8)

Package: fluidity-dev
Architecture: any
Depends: g++ (>= 4:4.6), gfortran (>= 4:4.6), libvtk6-dev, libxml2-utils,
         python-gtk2, liblapack-dev, libarpack2-dev, libcgns-dev, diamond,
         texlive-pstricks, openmpi-bin, libpetsc3.6.3-dev, time, valgrind,
         libzoltan (>= 3.82), libzoltan-dev (>= 3.82), libudunits2-dev,
         libnetcdf-dev, libnetcdff-dev, python, python-lxml, python3-lxml,
         libblas-dev, tcsh, trang, python-scipy, python3-scipy, git,
         triangle-bin, gmsh, libglib2.0-dev, texlive, texlive-latex-extra,
         libboost-python1.58.0, libtool, python-numpy, python3-numpy, 
         python-vtk6, python-matplotlib, python3-matplotlib, 
         python-uncertainties, python3-uncertainties, libnetpbm10-dev,
         libgmp10, libmpfr4, libqhull-dev, python-dev, transfig, python-sympy,
         python3-sympy, ghostscript, libexodusii-dev, cmake, python3-meshio,
         google-perftools, libsupermesh-dev, texlive-science, python3-dev,
         libjudy-dev, libspatialindex-dev, libspud-dev, python-junit.xml,
         python3-junit.xml, m4, automake, autoconf, python3-h5py, python-h5py
Conflicts: libvtk5.10, python-vtk, tcl-vtk
Description: This is an empty package that depends on and thus provides all
  packages needed to build fluidity and run all the tests in the main fluidity
  repository. Some required packages are taken from the local AMCG repository,
  some from the central Debian/Ubuntu repository.
